/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.mfp-content .mfp-iframe-scaler iframe {
    background-color: #fff;
}

.mfp-content .mfp-iframe-scaler .mfp-close:hover {
    background-color: transparent !important;
}

.mfp-iframe-holder .mfp-content {
    min-height: 550px;
}

.mfp-iframe-scaler .mfp-close {
    width: auto;
}

.mfp-iframe-scaler .mfp-close:focus {
    outline: none;
    background-color: transparent;
}