/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/* Default popup theme */
.mfp-content .mfp-iframe-scaler iframe {
    background-color: #fff;
}
.mfp-content .mfp-iframe-scaler .mfp-close:hover {
    background-color: transparent !important;
}
.mfp-iframe-holder .mfp-content {
    min-height: 550px; /* Minimal height for popup */
}

/* General schedule theme */
.lb-schedule .lb-schedule-table-body-booking-past,
.lb-schedule .lb-schedule-table-body-booking-cancelled {
    font-style: italic;
    color: #8f8f8f;
}

/* Calendar schedule specific theme */
.lb-schedule-calendar-wrapper {
    width: 100%;
    max-width: 1250px;
    margin: 25px auto;
    float: left;
    padding-left: 30px;
    min-width: 800px;
}
.lb-schedule-calendar-wrapper .lb-schedule-days-wrapper {
    width: 100%;
    border-bottom: 1px solid #c9dde6;
    float: left;
}
.lb-schedule-calendar-wrapper .lb-schedule-days-wrapper .lb-schedule-single-day {
    float: left;
    width: 14.27%;
    padding: 0 7px;
}
.lb-schedule-calendar-wrapper .lb-schedule-days-wrapper .lb-schedule-single-day.active {
    background-color: #f7fafd;
}
.lb-schedule-calendar-wrapper .lb-schedule-days-wrapper .lb-schedule-single-day p {
    color: #8f8f8f;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 10px;
    padding: 7px 0;
    margin-bottom: 0;
}
.lb-schedule-calendar-wrapper .lb-schedule {
    float: left;
    width: 100%;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-morning-wrapper,
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-afternoon-wrapper,
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-evening-wrapper {
    float: left;
    width: 100%;
    position: relative;
    margin: 7px 0;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day {
    float: left;
    padding: 7px;
    width: 14.27%;
    min-width: 14.27%;
    text-align: center;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-day-part-name {
    float: left;
    position: absolute;
    height: 100%;
    left: -15px;
    top: 0;
    width: 10px;
    border-left: 10px solid;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-morning-wrapper .lb-schedule-day-part-name {
    border-color: #F9EABE;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-afternoon-wrapper .lb-schedule-day-part-name {
    border-color: #BBE0D3;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-evening-wrapper .lb-schedule-day-part-name {
    border-color: #c9dde6;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-day-part-name span {
    display: block;
    transform: rotate(270deg);
    text-transform: uppercase;
    left: -62px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 10px;
    width: 78px;
    text-align: center;
    color: #8f8f8f;
    font-weight: normal;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class {
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid #c9dde6;
    padding: 10px 5px;
    float: left;
    position: relative;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class > * {
    z-index: 50;
    position: relative;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class .lb-schedule-single-class-highlight {
    position: absolute;
    border-left: 4px solid;
    height: 100%;
    width: 4px;
    top: 0;
    left: -1px;
    z-index: 2;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class .lb-schedule-single-class-highlight-background {
    position: absolute;
    border: 1px solid;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .1;
    z-index: 2;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class .lb-schedule-single-class-highlight,
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class .lb-schedule-single-class-highlight-background {
    display: none;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class.lb-schedule-single-class-highlighted .lb-schedule-single-class-highlight,
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class.lb-schedule-single-class-highlighted .lb-schedule-single-class-highlight-background {
    display: block;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class .lb-schedule-table-body-class {
    font-weight: bold;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class .lb-schedule-table-body-booking a {
    box-shadow: none;
    font-size: 11px;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class p {
    margin-bottom: 10px;
    font-size: 11px;
}
.lb-schedule-calendar-wrapper .lb-schedule .lb-schedule-single-day .lb-schedule-single-class:not(:last-of-type) {
    margin-bottom: 15px;
}
.lb-schedule-calendar-wrapper .lb-schedule-single-day .lb-schedule-single-class .lb-schedule-table-body-booking .lb-schedule-body-booking-link {
    display: inline;
    border: 1px solid #afd5e6;
    border-radius: 3px;
    color: #5096c3;
    padding: 5px 7px;
}
.lb-schedule-calendar-wrapper .lb-schedule-single-day .lb-schedule-single-class.lb-schedule-single-class-highlighted .lb-schedule-table-body-booking .lb-schedule-body-booking-link {
    color: #fff;
}